:root {
    --yellow: #ffc600;
    --brown: #B38C00;
    --black: #272727;
    --gray: #BFBFBF;
}

html {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    color: var(--black);
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 20px auto;
    max-width: 1400px;
    display: grid;
    /* grid-gap: 50px; */
}

.top {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "logo nav""hero hero""question question";
    grid-gap: 20px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo img {
    padding-left: 20px;
}

.logo p {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 900;
    padding-left: 20px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;
    align-items: center;
    list-style: none;
}

.menu a {
    display: block;
    background-color: var(--yellow);
    text-decoration: none;
    text-align: center;
    color: var(--black);
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 20px;
}

.hero {
    grid-area: hero;
    position: relative;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-image: url("img/fruit-1213041_1920.jpg");
    background-size: cover;
    background-position: center right;
    z-index: -1;
    opacity: 0.5;
}

.hero>* {
    text-align: center;
    margin: 20px 0;
}

.name {
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
}

.slogan {
    font-size: 36px;
}

.socials {
    display: flex;
}

.social {
    padding: 15px;
    opacity: 0.6;
    transition: opacity 0.2;
}

.social:hover {
    opacity: 1;
}

.question {
    grid-area: question;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.question p {
    flex-basis: 100%;
    text-align: center;
    font-size: 2.4em;
}

button {
    display: block;
    font-size: 1.5em;
    background: linear-gradient(to left, var(--brown), var(--yellow));
    padding: 10px 20px;
    margin: 20px 30px;
    border: none;
    border-radius: 10px;
    width: 15%;
    text-transform: uppercase;
    transition: all 0.2s;
}

button:hover {
    color: white;
    cursor: pointer;
    font-weight: 700;
}

main {
    display: grid;
    justify-items: center;
    grid-gap: 50px;
    margin-top: 50px;
    font-size: 15px;
}

.about,
.skills,
.contact {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    box-shadow: 0 0 10px var(--yellow);
}

.section-title {
    font-size: 3em;
    flex-basis: 100%;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 20px;
}

.about article,
.skills article {
    display: flex;
    justify-content: space-around;
}

.about article>* {
    margin: 0 20px 20px 20px;
}

.about img {
    display: block;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.about ul {
    list-style: none;
}

.about li {
    font-weight: 700;
    line-height: 130%;
}

.val {
    font-weight: 700;
    color: var(--brown);
}

.about p {
    flex-basis: 55%;
    padding-left: 20px;
    border-left: 3px dotted var(--yellow);
}

.skills {
    justify-content: space-around;
    padding-bottom: 20px;
}

.skill {
    flex-basis: 12%;
}

.skill img {
    width: 100%;
}

.skill-desc {
    width: 100%;
    text-align: center;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

.portfolio .section-title {
    grid-column: 1 / -1;
}

.project {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 400px;
}

.project:nth-of-type(1) {
    background-image: url("img/halloween-959049_640.jpg");
}

.project:nth-of-type(2) {
    background-image: url("img/autumn-4579561_640.jpg");
}

.project:nth-of-type(3) {
    background-image: url("img/bananas-3700718_640.jpg");
}

.project:nth-of-type(4) {
    background-image: url("img/music-3507317_640.jpg");
}

.project:nth-of-type(5) {
    background-image: url("img/sunflower-4576573_640.jpg");
    grid-column: 2 / -1;
}

.portfolio .project-name,
.btn_project {
    position: absolute;
}

.portfolio .project-name {
    font-size: 2em;
    top: 10%;
    left: 20%;
    background-color: var(--black);
    color: white;
    padding: 10px 20px;
}

.btn_project {
    top: 30%;
    left: 20%;
    width: 200px;
    margin: 0;
    opacity: 0;
    transition: opacity 0.2s;
}

.project:hover .btn_project {
    opacity: 1;
}

.contact {
    box-shadow: none;
}

.contact div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--yellow);
    flex-basis: 40%;
    padding: 20px;
}

.contact div::before {
    position: absolute;
    display: block;
    content: '';
    width: 20px;
    height: 20px;
    background-color: var(--yellow);
    right: -10px;
    top: 57px;
    transform: rotate(45deg);
}

.contact img {
    display: block;
    transform: rotate(-30deg);
}

.my-address p:nth-of-type(1) {
    font-weight: 700;
}

.contact-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 50px 0 0 20px;
}

.contact-form .form-title {
    font-size: 2em;
}

#name,
#mail,
#topic,
#msg {
    display: block;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    color: var(--black);
    margin: 10px 0;
    padding: 10px;
    border: none;
    background-color: #eee;
    border-radius: 10px;
}

#msg {
    resize: none;
}

.contact-form .contact-button {
    width: 50%;
    align-self: flex-end;
    margin-right: 0;
}

.bottom {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}